In [1]:
import numpy as np

In [2]:
import pandas as pd

In [21]:
df= pd.read_csv('Dataset102023.csv')

In [22]:
df

,DATAFLOW,LAST UPDATE,freq,SEXO,edad,sizeclas,unit,geo,TIME_PERIOD,OBS_VALUE,COMERCIAL,PROBL COMER
0,ENERO,1,A,femenimo,20,GE10,100,AT,2008,737,ADM,INFLACION
1,FEBRERO,2,B,masculino,25,GE10,120,AT,2009,732,FINANCIERO,DESEMPLEO
2,ENERO,1,C,masculino,26,GE10,140,AT,2010,734,CAMARERO,INFLACION
3,FEBRERO,2,B,masculino,30,GE10,160,AT,2011,800,DEPENDIENTE,DESEMPLEO
4,MARZO,3,C,femenimo,35,GE10,180,BE,2008,682,ABOGADO,INFLACION
...,...,...,...,...,...,...,...,...,...,...,...,...
141,FEBRERO,2,B,masculino,38,TOTAL,280,SK,2011,742,FINANCIERO,DESEMPLEO
142,ENERO,1,C,femenimo,45,TOTAL,300,UK,2008,859,CAMARERO,INFLACION
143,FEBRERO,2,A,femenimo,50,TOTAL,320,UK,2009,857,DEPENDIENTE,DESEMPLEO
144,MARZO,3,A,masculino,20,TOTAL,340,UK,2010,859,ABOGADO,INFLACION
145,NOVIEMBRE,11,B,femenimo,25,TOTAL,360,UK,2011,859,ADM,INFLACION

In [7]:
import matplotlib.pyplot as plt

In [37]:
x= df. edad

In [38]:
y= df.SEXO

In [46]:
f= plt.table

In [47]:
table(full.SEXO, full.Title)

NameError: name 'table' is not defined

In [53]:
 self = plt.table

In [61]:
plt.table =(df.SEXO, df.edad)

TypeError: tuple.count() takes exactly one argument (0 given)

In [42]:
library('edad')

NameError: name 'library' is not defined

In [41]:
TIME_PERIOD <- read.csv('../input/TIME_PERIOD.csv', stringsAsFactors = F)

NameError: name 'TIME_PERIOD' is not defined